.logs{
    height: 300px;
    padding: var(--wp--preset--spacing--sm);
    background: black;
    overflow-y: auto;
    scrollbar-color: var(--wp--preset--color--good) var(--wp--preset--color--black);
    
    ul {
        li {
            list-style: none;
            margin-bottom: var(--wp--preset--spacing--xs);
            font-family: var(--wp--preset--font-family--console);
            color: #EBEBEB;
            text-transform: uppercase;

            span {
                color: var(--wp--preset--color--good);
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}