.home {

    .home-header {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 50%;
        translate: -50% 0;
        width: 100%;

        .contentwide {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var(--wp--preset--spacing--md);
    
            img {
                width: 50px;
            }
        }
    }

    #contact {
        margin-block: var(--wp--preset--spacing--xl);

        .contact-form {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--md);
            
            @media screen and (min-width: 620px) {
                grid-template-columns: 1fr 1fr;
            }

            textarea, button {
                grid-column: 1 / -1;
            }

            button {
                margin-inline: auto;
            }
        }
    }

    .home-footer {
        background: var(--wp--preset--color--grey-light);
        padding-block: var(--wp--preset--spacing--md) var(--wp--preset--spacing--sm);

        .contentwide {
            display: flex;
            flex-wrap: wrap;
            gap: var(--wp--preset--spacing--md);

            img {
                width: 100px;
            }

            ul {
                display: flex;
                flex-direction: column;
                
                li {
                    display: list-item;
                    list-style: inside;
                    color: var(--wp--preset--color--black);
                }
            }

            .copywrite {
                flex: none;
                width: 100%;
                text-align: center;
                font-size: var(--wp--preset--font-size--sm);
                margin-bottom: 0;
            }
        }
    }
}