@use "@styles/global" as *;

@use '@styles/elements/alert' as * ;
@use '@styles/elements/btn' as * ;
@use '@styles/elements/inputs' as * ;
@use '@styles/elements/logs' as * ;
@use '@styles/elements/pagination' as * ;
@use '@styles/elements/texts' as *;
@use '@styles/elements/wides' as * ;

@use "@styles/partials/archive-header" as *;
@use "@styles/partials/content" as *;
@use "@styles/partials/single-character" as *;
@use "@styles/partials/single-message" as *;
@use "@styles/partials/single" as *;

@use "@styles/sections/eject" as *;
@use "@styles/sections/header" as *;


@media (prefers-color-scheme: dark) {
  :root {
    --wp--preset--color--white: #242424;
    --wp--preset--color--black: #EBEBEB;
    --wp--preset--color--grey-light: #303030;

    .btn-icon img {
        filter: brightness(0) saturate(100%) invert(9%) sepia(12%) saturate(11%) hue-rotate(315deg) brightness(103%) contrast(88%);
    }
  }
}