.archive {
  overflow-x: scroll;

  .archive_table {
    width: 100%;
    border-collapse: collapse;

    .archive_table--head {
      padding-inline: var(--wp--preset--spacing--md)
        var(--wp--preset--spacing--sm);

      .archive_table--head-colname {
        padding-block: var(--wp--preset--spacing--sm);
        font-weight: 200;
        font-size: var(--wp--preset--font-size--lg);
        color: var(--wp--preset--color--primary);
      }
    }

    .archive_table--body {

      .archive-item {
        padding-inline: var(--wp--preset--spacing--md);

        th {
          padding-block: var(--wp--preset--spacing--xs);
          font-weight: 200;
          font-size: var(--wp--preset--font-size--lg);
        }

        &.is_not_allow {
          color: var(--wp--preset--color--restricted);
        }

        &:nth-child(odd) {
          background-color: var(--wp--preset--color--grey-light);
        }

        .btn {
          margin-inline: auto;
        }
      }
    }
  }
}
