.single {
    // border: blue 2px solid;

    .e-content{
        display: flex;
        flex-direction: column;
        gap: var(--wp--preset--spacing--md);

        .content{
            // border: green 2px solid;

            .list-short_infos{
                margin-block: var(--wp--preset--spacing--md);
                
                li {
                    list-style: none;    
                    font-size: var(--wp--preset--font-size--lg);
                    margin-bottom: var(--wp--preset--spacing--sm);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .list-groupe {
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--wp--preset--spacing--xl);

            }
            
            .list {
                padding-left: calc(var(--wp--preset--font-size--base) * 2);

                &.list-rapport-steps {

                    li {
                        > span {
                            display: flex;
                        }
                        
                        &:not(:last-child) {
                            margin-bottom: var(--wp--preset--spacing--sm);
                        }
                    }
                }
            }

            .no-informed{
                font-style: italic;
                color: var(--wp--preset--color--restricted);
                text-transform: capitalize;
            }
        }
        
        .gallery{
            // border: purple 2px solid;

            figure {
                width: 100%;
                height: auto;
                margin-bottom: var(--wp--preset--spacing--xs);

                img, video {
                    width: 100%;
                    height: auto;
                    margin: 0;
                }

                video {
                    cursor: pointer;
                }

                &:last-child{
                    margin-bottom: 0;
                }

                .pdf-preview {
                    display: block;
                    aspect-ratio: 3/4;
                    background: var(--wp--preset--color--grey-light);
                    cursor: pointer;
                    overflow: hidden;
                    color: var(--wp--preset--color--black);

                    .pdf-box {
                        position: relative;
                        width: 100%;
                        height: 100%;

                        .pdf-img {
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }

                        .pdf-eye {
                            position: absolute;
                            z-index: 3;
                            top: var(--wp--preset--spacing--xs);
                            right: var(--wp--preset--spacing--xs);
                            width: 25px;
                            height: 25px;
                            filter: brightness(0) saturate(100%) invert(51%) sepia(42%) saturate(5646%) hue-rotate(178deg) brightness(94%) contrast(82%);
                            transform-origin: top right;
                            transition: all .2s linear;
                        }

                        .pdf-text {
                            position: absolute;
                            z-index: 2;
                            top: 50%;
                            left: 50%;
                            translate: -50% -50%;
                            font-size: var(--wp--preset--font-size--xl);
                            color: var(--wp--preset--color--warning);
                            font-weight: bold;
                            text-align: center;
                        }

                        .pdf-title {
                            position: absolute;
                            z-index: 5;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            background: var(--wp--preset--color--black);
                            color: var(--wp--preset--color--white);
                            text-align: center;
                            padding: var(--wp--preset--spacing--xs);
                        }
                    }

                    &:hover {

                        .pdf-box {
                            
                            .pdf-eye {
                                scale: 1.2;
                            }
                        }
                    }
                }
            }
        }

        .historique {
            flex: none;
            order: -1;
        }

        @media screen and (min-width: 600px) {
            flex-direction: row-reverse;

            .content{
                flex: 1 1 50%;
                width: 50%;
            }

            .gallery{
                flex: 1 1 50%;
                width: 50%;

            }
        }

        @media screen and (min-width: 1000px) {
            
            .content{
                flex: 1 1 60%;
            }

            .gallery{
                flex: 1 1 40%;

                img{
                    margin-bottom: var(--wp--preset--spacing--md);
                }
            }
        }
    }
}